*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cutive Mono', monospace;
	font-size: 16px;
}

body{
	background-color: #f8f8fa;
	/*overflow: hidden;*/
	overflow-y: scroll;
	/*background-image: linear-gradient(#f8f8fa,#b7b7af);*/ /*#66625a*/
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

a{
	text-decoration: none !important; 
	
}

.nav-link{
	color: #262626;
}

.nav-link:hover{
	color: #b7c2ce;
	border-bottom: 2px solid #262626;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(72,76,81, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bd-highlight{
	/*background: #dbdfe5;*/
	min-height: 100vh;
	text-align: center;
}

strong{
	font-weight: bold;
	font-size: 2rem;
}

#about{
	/*background-image: url("https://images.pexels.com/photos/1005644/pexels-photo-1005644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	/*border-top: 1px dashed #d6d8da ;*/
	/*text-align: center;*/
	min-height: 100vh;
	padding-top: 2rem;

}


#aboutContainer{
	
	/*border: 1px solid black;*/
}

#projects{
	/*background-image: url("https://images.pexels.com/photos/4107897/pexels-photo-4107897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	/*border-top: 1px dashed #d6d8da ;*/
	min-height: 100vh;
}

#contact{
	/*background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	/*border-top: 1px dashed #d6d8da ;*/
	/*min-height: 100vh;*/
	padding-top: 3rem;

}

.footer {
   position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #5d5e60/*#262626*/;
   color: white;
   text-align: center;
   color: #eff1f4;
}

.projectsCol{
	/*border: 1px solid black;*/
	/*background: url("../images/frame.png");*/
	/*background-repeat: no-repeat;*/
	/*background-attachment: fixed;*/
	/*background-size: contain;*/
	/*background-position: center;*/
	/*object-fit: contain;*/
	/*height:  100%;*/
	/*overflow: hidden;*/
	/*box-shadow: 3px 3px 3px black;*/
}

.projectsMain{
	vertical-align: middle;
	/*height: 100vh;
	margin-top: 0px;
	padding-top: 0px;*/
}
.contactHeader{
	/*border-top: 2px dashed #d6d8da;*/
	/*border-bottom: 2px dashed #d6d8da;*/
}

#yourMsg{
	height: 6rem;
	text-align: left;
}

.maps{
	text-align: center;
	margin-top: 3rem;
}

.inputForm{
	margin-top: 1rem;
	/*padding-right: 5rem;*/
}

.contactInfo{
	margin-top: 2rem;
}

.contactMain{
	border-right:  2px dashed #d6d8da;
	border-left:  2px dashed #d6d8da;
	border-top: 2px dashed #d6d8da;
	/*background-color: red;*/
	min-height: 100vh;
}

span {
	vertical-align: middle;
}
